@import "tailwindcss";
#menu::-webkit-scrollbar {
  width: 6px;
}

#menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

#menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#menu h1,
#menu svg,
.nav1 {
  will-change: transform, opacity;
}
#menu:not([style*="right: 0px"]) .fixed.inset-0 {
  display: none;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease forwards;
}
